//UTILIZANDO O PARTIALS
@import 'titulo';


//Declarar variaveis
$cor-de-fundo : #ccffdd;
$cor-do-texto : red;
$segunda-cor-texto : #094e20;
$minha-fonte : "Consolas";
$alinhamento : center;
$largura : 100vw;

//CRIANDO O MIXIN
@mixin meuMixin($tamanho-fonte){
    border: solid 2px blue;
    background-color: #460000;
    color: $cor-do-texto;
    font-family: $minha-fonte;
    font-size: $tamanho-fonte;
}

body {
    background-color: $cor-de-fundo;
    color: $cor-do-texto;
    font-family: $minha-fonte, Helvetica, sans-serif;
    text-align: $alinhamento;
    width: $largura;
    $cor-do-p : blue;

    .divTest {
        @include meuMixin(2rem);
        //color: $segunda-cor-texto;
        p {
            color: $cor-do-p;
        }
    }


    
}


